<div>
  <h1>{{ title }}</h1>
  <!-- <h2 [innerText]="ruch"></h2> -->
  <div [class.playground]="true">
    <div class="row">
      <div id="0_0" #field_0_0 (click)="clickField(field_0_0)" class="field">
        <h1>{{ fieldValue_0_0 }}</h1>
      </div>
      <div id="0_1" #field_0_1 (click)="clickField(field_0_1)" class="field">
        <h1>{{ fieldValue_0_1 }}</h1>
      </div>
      <div id="0_2" #field_0_2 (click)="clickField(field_0_2)" class="field">
        <h1>{{ fieldValue_0_2 }}</h1>
      </div>
    </div>
    <div class="row">
      <div id="1_0" #field_1_0 (click)="clickField(field_1_0)" class="field">
        <h1>{{ fieldValue_1_0 }}</h1>
      </div>
      <div id="1_1" #field_1_1 (click)="clickField(field_1_1)" class="field">
        <h1>{{ fieldValue_1_1 }}</h1>
      </div>
      <div id="1_2" #field_1_2 (click)="clickField(field_1_2)" class="field">
        <h1>{{ fieldValue_1_2 }}</h1>
      </div>
    </div>
    <div class="row">
      <div id="2_0" #field_2_0 (click)="clickField(field_2_0)" class="field">
        <h1>{{ fieldValue_2_0 }}</h1>
      </div>
      <div id="2_1" #field_2_1 (click)="clickField(field_2_1)" class="field">
        <h1>{{ fieldValue_2_1 }}</h1>
      </div>
      <div id="2_2" #field_2_2 (click)="clickField(field_2_2)" class="field">
        <h1>{{ fieldValue_2_2 }}</h1>
      </div>
    </div>
  </div>
  <h2>{{ endGameInfo }}</h2>
</div>
